$background-green: #002f37;
$color-green: #005f6f;
$color-yellow: #ecc100;

html {
  padding-bottom: 0 !important;
}

body {
  background-color: $background-green !important;
}

.archive-page {
  background-color: $background-green !important;
  text-align: center;
  width: 100%;
  padding-bottom: 7vh;
  .category-nav {
    .categories {
      padding-left: 0 !important;
    }
  }
  .repeatHeadlines {
    margin: 0 auto;
    padding-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 10%;
    padding-right: 10%;
    gap: 3%;
  }

  .blog-item__thumbnail {
    padding: 0;
    border: rgba($color: $color-yellow, $alpha: 0.5) solid 0.2rem;
  }

  .blog-item__title,
  .blog-item__read {
    width: 100%;
    word-break: break-all;
  }

  .blog-item__title {
    font-size: 1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    padding-top: 2%;
  }

  .blog-item__read {
    font-size: 1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
  .archive-page {
    background-color: $background-green;
    text-align: center;
    width: 100%;
    padding-bottom: 15vh;
    .category-nav {
      .categories {
        .cat-item {
          font-size: 0.8rem;
        }
      }
    }
    .repeatHeadlines {
      width: 100%;
      margin: 0 auto;
      grid-template-columns: 1fr 1fr;
      gap: 5%;
      .blog-list__list-item {
        .blog-item__title {
          font-size: 0.8rem !important;
        }
      }
      .blog-item__content {
        p {
          font-size: 0.6rem;
        }
      }
    }
  }
}
