$background-green: #002f37;
$color-green: #005f6f;
$color-yellow: #ecc100;

.archive-page {
  text-align: center;
  width: 100%;
  .category-nav {
    .categories {
      .cat-item {
        text-transform: capitalize;
        a {
          &:hover {
            color: $color-yellow;
          }
        }
        &.current-cat {
          & a[aria-current="page"] {
            text-decoration: underline;
            text-decoration-color: $color-green;
            color: $color-yellow;
          }
        }
      }
    }
  }
  .repeatHeadlines {
    margin: 0 auto;
    padding-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 15%;
    padding-right: 15%;
    gap: 5%;

    .blog-item__thumbnail {
      padding: 0;
      border: rgba($color: $color-yellow, $alpha: 0.9) solid 0.2rem;
      cursor: pointer;
      overflow: hidden;
      .wp-post-image {
        max-width: none !important;
        width: 300px;
        height: 200px;
        transition: transform 0.6s ease;
      }

      &:hover {
        .wp-post-image {
          transform: scale(1.1);
        }
      }
    }

    .blog-item__title,
    .blog-item__read {
      width: 100%;
      word-break: break-all;
    }

    .blog-item__title {
      font-size: 1rem;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      padding-top: 2%;
    }

    .blog-item__read {
      font-size: 1rem;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
}

@media screen and (max-width: 768px) {
  .archive-page {
    background-color: $background-green;
    text-align: center;
    width: 100%;
    padding-bottom: 15vh;
    .category-nav {
      .categories {
        line-height: 1.5;
        .cat-item {
          font-size: 1rem;
        }
      }
    }
    .repeatHeadlines {
      width: 100%;
      margin: 0 auto;
      grid-template-columns: 1fr 1fr;
      gap: 5%;
      .blog-list__list-item {
        .blog-item__title {
          font-size: 0.6rem;
        }
      }
      .blog-item__content {
        p {
          font-size: 0.6rem;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1020px) {
  .container {
    padding-bottom: 40vh;
  }
  .cat-item {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-bottom: 20vh;
  }
}
