$background-green: #002f37;
$color-green: #005f6f;
$color-yellow: #ecc100;

* {
  color: white;
  font-family: "BIZ UDPMincho", serif;
}
html {
  width: 100%;
  height: fit-content;
}

body {
  background-color: $background-green;
}

ul {
  padding-left: 0;
  color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2,
h3,
p,
a {
  font-family: "BIZ UDPMincho", serif;
}

.container {
  width: 100%;
  padding-top: 17vh;
  padding-bottom: 5vh;
}

.first-headline {
  color: white;
  text-align: center;
}

.first-headline {
  font-size: 2.5rem;
}

.breadcrumbs-part {
  .breadcrumbs-container {
    display: flex;
    padding-left: 5%;
    padding-bottom: 3%;
    .breadcrumbs-signpost {
      &.latter {
        &::before {
          content: ">";
          color: $color-yellow;
        }
      }
      a {
        &:hover {
          border-bottom: dotted 1px $color-yellow;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .first-headline {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1020px) {
  .first-headline {
    font-size: 2rem;
  }
}
