$background-green: #002f37;
$color-green: #005f6f;
$color-yellow: #ecc100;

* {
  color: white;
  font-family: "BIZ UDPMincho", serif;
}
html {
  width: 100%;
  height: fit-content;
}

body {
  background-color: $background-green;
}

ul {
  padding-left: 0;
  color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2,
h3,
p,
a {
  font-family: "BIZ UDPMincho", serif;
}

.container {
  width: 100%;
  padding-top: 17vh;
  padding-bottom: 5vh;
}

.first-headline {
  color: white;
  text-align: center;
}

.first-headline {
  font-size: 2.5rem;
}

.breadcrumbs-part {
  width: 100%;
  .breadcrumbs-container {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    padding-left: 5%;
    padding-bottom: 3%;
    .breadcrumbs-signpost {
      &.latter {
        &::before {
          content: ">";
          color: $color-yellow;
        }
      }
      a {
        &:hover {
          border-bottom: dotted 1px $color-yellow;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .first-headline {
    font-size: 1.5rem;
  }

  .breadcrumbs-part {
    padding-top: 10%;
    font-size: 0.8rem;
    .breadcrumbs-container {
      &.latter {
        font-size: 1px;
        &::before {
          content: ">";
          color: $color-yellow;
        }
      }
      .breadcrumbs-signpost {
        line-height: 1.5rem;
        // a {
        //   font-size: 1px;
        // }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1020px) {
  .first-headline {
    font-size: 2rem;
  }
  .breadcrumbs-container {
    font-size: 1rem;
    &.latter {
      &::before {
        content: ">";
        color: $color-yellow;
      }
    }
    // .breadcrumbs-signpost {
    //   a {
    //     font-size: 1rem;
    //   }
    // }
  }
}

// searchform

.search-form {
  display: grid;
  .search-field {
    border-color: gray;
  }
  .search-submit {
    border: gray solid 2px;
  }
  .search-field:active,
  .search-field:hover,
  .search-submit:active,
  .search-submit:hover {
    border-color: $color-yellow;
  }
  .search-field:active,
  .search-field:hover {
    color: black;
  }

  .search-submit:active,
  .search-submit:hover {
    color: $color-yellow;
  }
  width: 100%;
  .search-label-container {
    display: grid;
    height: 60px;
    gap: 3%;
  }
  padding-top: 5%;
  padding-bottom: 5%;
  .search-field,
  .search-submit {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }

  input[type="search"] {
    padding: 0;
    grid-column: 1/3;
  }
  input[type="submit"] {
    top: 0;
    font-size: 1rem !important;
    padding: 3% 6%;
    font-size: 0.5rem;
    grid-column: 3/4;
  }
  .mobile-search {
    display: grid;
    .search-form {
      .search-field {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-top: 20vh;
  }
  .page-title-container {
    text-align: center;
    .page-title {
      font-size: 1.5rem;
    }
  }

  .error-404 {
    .page-content {
      p {
        font-size: 0.8rem;
      }
    }
  }
  .search-form {
    width: 80%;
    .search-label-container {
      display: grid;
      gap: 3%;
    }
    padding-top: 5%;
    padding-bottom: 5%;
    .search-field,
    .search-submit {
      margin-top: 0;
      margin-right: 0;
      margin-left: 0;
    }
    input[type="search"] {
      padding: 0;
    }
    input[type="submit"] {
      top: 0;
      padding: 3% 6%;
      font-size: 0.5rem;
    }
  }
  .mobile-search {
    display: grid;
    .search-form {
      .search-field {
        margin-right: 0;
      }
    }
  }
}

@media (min-width: 400px) and (max-width: 768px) {
  .search-form {
    .search-label-container {
      height: 20px;
    }
    input[type="search"] {
      grid-column: 1/2;
    }
    input[type="submit"] {
      grid-column: 2/3;
    }
  }
}

@media (min-width: 600px) and (max-width: 1020px) {
  .search-form {
    .search-label-container {
      height: 40px;
    }
    input[type="submit"] {
      font-size: 1rem !important;
    }
  }
}

@media screen and (max-width: 600px) {
  .search-form {
    .search-label-container {
      height: 20px;
    }
    input[type="search"] {
      grid-column: 1/2;
    }
    input[type="submit"] {
      grid-column: 2/3;
    }
  }
}

@media screen and (max-width: 400px) {
  .search-form {
    .search-label-container {
      height: 20px;
    }
    input[type="search"] {
      min-width: 0;
    }
    input[type="submit"] {
      min-width: 0;
      width: 50px;
      font-size: 0.6rem !important;
    }
  }
}
