$background-green: #002f37;
$color-green: #005f6f;
$color-yellow: #ecc100;

.titleAndNavigator {
  width: 100%;
  .ise-blogtitle {
    z-index: 10;
    position: fixed;
    top: 5vh;
    left: 3vh;
    h1 {
      margin-block-start: 0em;
      margin-block-end: 0em;
      line-height: 1;
      font-size: 3.5rem;
      .blogTitle {
        color: $color-yellow;
      }
    }
  }
  .ise-blogmenu {
    z-index: 10;
    position: fixed;
    top: 5vh;
    right: 3vh;
    nav {
      .nav-menu {
        li {
          .ap_navigation {
            color: $color-yellow;
            display: inline-block;
            text-decoration: none;
            position: relative;

            &::after {
              position: absolute;
              content: "";
              bottom: 0;
              left: 0;
              width: 0;
              height: 1px;
              background: $color-yellow;
              transition: all 0.3s ease 0s;
            }

            &:hover {
              cursor: pointer;
            }

            &:hover::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
.sp_br {
  display: none; //768px以上では改行タグを無効に。
}

@media screen and (max-width: 768px) {
  .sp_br {
    display: block; //768px未満で改行タグを有効に。
  }

  .titleAndNavigator {
    .ise-blogtitle {
      top: 2vh;
      h1 {
        font-size: 2rem;
      }
    }
    .ise-blogmenu {
      top: 2vh;
      nav {
        .nav-menu {
          line-height: 1.5;
          .ap_navigation {
            font-size: 1rem;
            &::after {
              transition: all 0.1s ease 0s;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1020px) {
  .titleAndNavigator {
    .ise-blogtitle {
      h1 {
        font-size: 2.5rem;
      }
    }

    nav {
      .nav-menu {
        font-size: 1rem;
      }
    }
  }
}
