$background-green: #002f37;
$color-green: #005f6f;
$color-yellow: #ecc100;

.blogTitle {
  color: $color-yellow !important;
}

.titleAndNavigator {
  z-index: 10;
  padding: 3%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0px;
}

.ap_navigation {
  color: $color-yellow !important;
  display: inline-block;
  text-decoration: none;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: $color-yellow;
    transition: all 0.3s ease 0s;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover::after {
    width: 100%;
  }
}
.sp_br {
  display: none; //768px以上では改行タグを無効に。
}

@media screen and (max-width: 768px) {
  .sp_br {
    display: block; //768px未満で改行タグを有効に。
  }

  .titleAndNavigator {
    h2 {
      font-size: 1.5rem;
    }
  }

  .nav-menu {
    font-size: 0.8rem;
  }
}
