$background-green: #002f37;
$color-green: #005f6f;
$color-yellow: #ecc100;

html {
  cursor: url(../images/padfoot1.cur), default;
}

.container {
  padding-top: 0 !important;
}

.blogTitle {
  color: $color-yellow !important;
}

.top-screen {
  height: 100vh; /* 全画面表示 */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("../images/bassethound.jpg");
}

.top-headline {
  text-align: center;
  color: white;
}

.second-screen {
  display: flex;
  justify-content: center;
  background-color: $background-green;
  width: 70%;
  margin: 0 auto;
}

.left-side,
.right-side {
  padding-top: 20vh;
}

.frame {
  padding: 5%;
  justify-content: center;
  font-weight: bold;
  border: solid 3px $color-green;
  margin-bottom: 2em;
}

.left-side {
  padding-right: 10%;
  .latest-columns {
    margin-bottom: 10%;
    ul {
      width: 100%;
      li {
        padding: 1em;
        border-bottom: 1px solid $color-green;

        .latest-columns-time-tags {
          color: white;
          font-size: 0.5rem;
        }
        .to-columns {
          font-size: 1rem;
        }
      }
    }
    .viewmore-button-a {
      padding-top: 5%;
      text-align: center;
    }
  }
}

.hover-button {
  display: inline-block;
  padding: 0.6em 2em;
  background: black !important;
  color: white !important;
  border: 1px solid $color-yellow !important;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  &:hover {
    background-color: $color-yellow !important;
    color: black !important;
    border: 1px solid $color-yellow !important;
  }
}

.search-form {
  display: flex;

  .search-field,
  .search-submit {
    border: white solid 2px !important;
  }
  .search-field:active,
  .search-field:hover,
  .search-submit:active,
  .search-submit:hover {
    border-color: $color-yellow !important;
  }
  .search-field:active,
  .search-field:hover {
    color: black !important;
  }

  .search-submit:active,
  .search-submit:hover {
    color: $color-yellow !important;
  }
}

.right-side {
  .about-me {
    .introduce-sentence {
      font-size: 1rem;
    }
  }
  .tags {
    .toTags {
      font-size: 0.7em;
    }
  }
}

.mobile-search {
  display: none;
}

@media screen and (max-width: 768px) {
  html {
    line-height: 1 !important;
  }

  .titleAndNavigator {
    .nav-menu {
      line-height: 1.7;
    }
  }

  .about-me-image {
    border-radius: 50%;
  }

  .second-screen {
    flex-flow: column;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    width: 100%;
    .left-side {
      padding-right: 0;
      width: 80%;
      margin: 0 auto;

      .latest-columns {
        ul {
          width: 100%;
          li {
            padding: 0.5rem;
            .latest-columns-time-tags {
              font-weight: bold;
            }
            .to-columns {
              font-size: 0.8rem;
            }
          }
        }
        .viewmore-button-a {
          font-size: 1rem;
        }
      }
    }
    .right-side {
      width: 100%;
      .about-me {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 10%;
      }
      .tags {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 10%;
        line-height: 1.7;
      }
    }
  }

  .search-form {
    flex-wrap: nowrap;
    padding-top: 5%;
    padding-bottom: 5%;
    input[type="search"] {
      padding: 0;
    }
    input[type="submit"] {
      padding: 0 5%;
      font-size: 0.5rem;
    }
  }
  .mobile-search {
    display: block;
  }

  .pc-search {
    display: none;
  }
}

.pickup-part {
  width: 100%;
  .top-headline {
    padding-top: 10%;
  }
  .slideshow {
    width: 90vh;
    margin: 0 auto;
    .slick-list {
      .slick-track {
        height: 65vh;
        .slick-slide {
          height: 65vh;
          padding: 1%;
          .pickup-thumbnail {
            display: block;
            height: 100%;
            margin: auto 0;
            .pickup-link {
              display: block;
              height: 100%;
              width: auto;
              .attachment-post-thumbnail {
                height: 100% !important;
                width: auto !important;
                max-width: 100% !important;
                padding: 5%;
                border: 0.4rem solid $color-yellow;
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
    .slick-prev {
      left: -10vh;
      &::before {
        font-size: 40px;
      }
    }

    .slick-next {
      right: -10vh;
      &::before {
        font-size: 40px;
      }
    }
    .slick-dots {
      display: none !important;
    }
  }
}

.top-archive {
  padding-top: 5%;
  width: 100%;
  .monthly-list {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 3%;

    .each-month-archive {
      white-space: nowrap;
    }
  }
}

@media screen and (max-width: 768px) {
  .pickup-part {
    width: 100%;
    .top-headline {
      padding-top: 10%;
    }
    .slideshow {
      width: 40vh;
      margin: 0 auto;
      .slick-list {
        .slick-track {
          height: 25vh !important;
          .slick-slide {
            height: 25vh;
            padding: 1%;
            .pickup-thumbnail {
              display: block;
              height: 100%;
              margin: auto 0;
              .pickup-link {
                display: block;
                height: 100%;
                .attachment-post-thumbnail {
                  height: 100% !important;
                  width: auto !important;
                  max-width: 100% !important;
                  padding: 5%;
                  border: 0.2rem solid $color-yellow;
                  margin: 0 auto;
                }
              }
            }
          }
        }
      }
      .slick-prev {
        left: -5vh;
        &::before {
          font-size: 25px;
        }
      }

      .slick-next {
        right: -5vh;
        &::before {
          font-size: 25px;
        }
      }
      .slick-dots {
        display: none !important;
      }
    }
  }

  .top-archive {
    .monthly-list {
      text-align: center;
      padding-top: 5%;
      display: block;
    }
  }
}
