* {
  font-family: "BIZ UDPMincho", serif !important;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.search-page {
  padding: 15%;
  background-color: darkgray;
}

.titleAndNavigator {
  padding: 3%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.blogTitle {
  color: #fff !important;
}

.navigation {
  color: #fff !important;
  display: inline-block;
  text-decoration: none;
  position: relative;
}

.navigation::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: teal;
  transition: all 0.3s ease 0s;
}
.navigation:hover {
  cursor: pointer;
}
.navigation:hover::after {
  width: 100%;
}
