$background-green: #002f37;
$color-green: #005f6f;
$color-yellow: #ecc100;

article {
  max-width: 80% !important;
  border-bottom: 3px solid $color-yellow !important;
  margin: 0 auto;
  &:last-child {
    border-bottom: none !important;
    padding-bottom: 0 !important;
  }
}

.page-header {
  border-color: $color-yellow !important;
  .page-title {
    font-size: 2rem;
  }
}

.search-form {
  display: flex;

  .search-field,
  .search-submit {
    border: gray solid 2px !important;
  }
  .search-field:active,
  .search-field:hover,
  .search-submit:active,
  .search-submit:hover {
    border-color: $color-yellow !important;
  }
  .search-field:active,
  .search-field:hover {
    color: black !important;
  }

  .search-submit:active,
  .search-submit:hover {
    color: $color-yellow !important;
  }
}

.entry-header {
  margin-bottom: 0 !important;
  .entry-title {
    font-size: 2rem;
    text-align: center;
  }
}

.entry-footer {
  .tags-links {
    display: none;
  }
}

.post-thumbnail {
  width: 100%;
  .post-thumbnail-inner {
    width: 60% !important;
    .wp-post-image {
      width: 60% !important;
      margin-top: 0 !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-top: 20vh;
  }

  img {
    width: 60% !important;
  }

  .page-header {
    border-color: $color-yellow !important;
    .page-title {
      padding-top: 50%;
    }
  }

  .search-form {
    flex-wrap: nowrap !important;
    padding-top: 5%;
    padding-bottom: 5%;
    max-width: 75% !important;
    input[type="search"] {
      padding: 0;
    }
    input[type="submit"] {
      padding: 0 5%;
      font-size: 0.5rem;
    }
  }
  .mobile-search {
    display: block;
    .search-form {
      .search-field {
        margin-right: 0 !important;
      }
    }
  }
  .entry-header {
    .entry-title {
      font-size: 1.2rem;
      text-align: center;
    }
  }
  .entry-content {
    font-size: 0.9rem;
  }
  .entry-footer {
    font-size: 0.7rem !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1020px) {
  article {
    width: 100%;
  }

  .entry-header {
    .entry-title {
      font-size: 1.5rem;
    }
  }

  .entry-content {
    font-size: 1rem;
  }

  .entry-footer {
    font-size: 0.7rem !important;
  }
}
