$background-green: #002f37;
$color-green: #005f6f;
$color-yellow: #ecc100;

* {
  color: white;
  font-family: "BIZ UDPMincho", serif !important;
}

html {
  width: 100%;
  margin-top: 0 !important;
  padding-top: 0 !important;
  background-color: $background-green;
}

.search-page {
  background-color: $background-green;
}

ul {
  color: fff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white !important;
}

img {
  width: 600px !important;
}

article {
  max-width: 80% !important;
  border-bottom: 3px solid $color-yellow !important;
  margin: 0 auto;
  &:last-child {
    border-bottom: none !important;
    padding-bottom: 0 !important;
  }
}

.page-header {
  border-color: $color-yellow !important;
  .page-title {
    padding-top: 20%;
    font-size: 3em !important;
  }
}

.entry-header {
  h2 {
    padding-top: 5%;
  }
}

.entry-title {
  a {
    font-size: 1em !important;
  }
}

.post-thumbnail {
  .wp-post-image {
    margin-top: 0 !important;
  }
}

@media screen and (max-width: 768px) {
  img {
    width: 60% !important;
  }

  .page-header {
    border-color: $color-yellow !important;
    .page-title {
      padding-top: 50%;
      font-size: 3em !important;
    }
  }
}
