$background-green: #002f37;
$color-green: #005f6f;
$color-yellow: #ecc100;

* {
  font-family: "BIZ UDPMincho", serif !important;
}

h1,
h2,
p,
a {
  font-family: "BIZ UDPMincho", serif !important;
}

.comment-author {
  .fn {
    color: $color-yellow;
  }
}

ul {
  padding-left: 0 !important;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  padding-top: 5%;
  padding-bottom: 5%;
}

html {
  width: 100%;
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.single-page {
  background-color: $background-green;
  padding-bottom: 15%;
  text-align: center;

  p {
    color: white;
  }
}

.columns-sentence {
  width: 80%;
  margin: 0 auto;
}

.page-title {
  text-align: center;
  // font-size: 3rem !important;
  color: white !important;
}

img {
  width: 600px !important;
}

@media screen and (max-width: 768px) {
  img {
    width: 70% !important;
  }

  .columns-sentence {
    p {
      font-size: 0.8em;
    }
  }
}

html {
  cursor: url(../images/padfoot1.cur), default;
}

.wp-block-liquid-speech-balloon {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 3%;

  p {
    color: black;
  }

  .liquid-speech-balloon-text {
    width: 70% !important;
  }
}
