$background-green: #002f37;
$color-green: #005f6f;
$color-yellow: #ecc100;

.single-page {
  background-color: $background-green;
  text-align: center;
  width: 100%;

  .first-headline {
    font-size: 2rem;
    margin: 0 auto;
    &.single-title {
      width: 70%;
    }
  }
  img {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 60% !important;
    margin: 0 auto;
  }

  .columns-sentence {
    font-size: 1rem;
  }
}

.columns-sentence {
  width: 70%;
  margin: 0 auto;
  .wp-block-liquid-speech-balloon {
    padding-bottom: 3%;
    margin-left: 0 !important;
    &.liquid-speech-balloon-wrap {
      margin-bottom: 0rem !important;
    }
    .liquid-speech-balloon-text {
      width: 70%;
      p {
        color: black;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .single-page {
    .first-headline {
      font-size: 1rem;
      width: 80%;
    }
    img {
      width: 60% !important;
      margin: 0 auto !important;
    }
    .columns-sentence {
      font-size: 0.8rem;
      margin: 0 auto;

      .wp-block-liquid-speech-balloon {
        padding-bottom: 7%;
        .liquid-speech-balloon-wrap {
          margin-bottom: 0rem !important;
        }
        .liquid-speech-balloon-avatar {
          width: 10vh;
          height: 10vh;
          background-size: cover;
        }
        .liquid-speech-balloon-text {
          width: 100%;
          p {
            color: black;
          }
        }
      }
    }
  }
}
